:root {
    --body-color: rgba(10, 10, 11, 1);
    --container-color: rgba(17, 18, 19, 1);
    --primary-color: rgba(65, 119, 220, 1);
    --primary-light: rgba(147, 177, 235, 1);
    --secondary-color: rgba(48, 106, 217, 1);
    --secondary-light: rgba(96, 140, 226, 1);
    --white-color: rgba(255, 255, 255, 1);
    --text-title-color: rgba(241, 242, 243, 1);
    --text-color: rgba(186, 190, 196, 1);
    --text-darker-color: rgba(136, 139, 145, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--body-color);
    /* overflow: hidden; */
}

/* brand sprite setup */
.brand1 {
    width: 50px;
    height: 50px;
    background: url('images\brands-sprite.png') -80px -10px;
}

.brand2 {
    width: 50px;
    height: 18px;
    background: url('images\brands-sprite.png') -10px -158px;
}

.brand3 {
    width: 50px;
    height: 50px;
    background: url('images\brands-sprite.png') -150px -10px;
}

.brand4 {
    width: 50px;
    height: 58px;
    background: url('images\brands-sprite.png') -10px -10px;
}

.brand5 {
    width: 50px;
    height: 50px;
    background: url('images\brands-sprite.png') -10px -88px;
}

.brand6 {
    width: 50px;
    height: 44px;
    background: url('images\brands-sprite.png') -150px -88px;
}

.brands {
    width: 50px;
    height: 50px;
    background: url('images\brands-sprite.png') -80px -88px;
}

/* navbar */
.navbar img {
    width: 20px;
    height: 20px;
}

.navbar .brand-logo {
    font-family: "Exo";
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar .navbar-toggler-icon {
    filter: invert() brightness(2);
    width: 20px;
    height: 20px;
}

.navbar .offcanvas {
    background-color: rgba(255, 255, 255, 0.842);
    filter: blur(96);
}

.navbar .nav-link {
    font-family: "Exo";
    font-size: 2rem;
    color: var(--white-color);
    transition: all 0.3s ease;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
}

.navbar .nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav .nav-link.active {
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .navbar .brand-logo {
        font-size: 1.6rem;
    }

    .navbar .nav-link {
        font-size: 1.4rem;
        font-weight: 500;
    }

}

/* statCards */
.statCards {
    max-width: 360px;
    margin: 0 auto;
}

.statCard {
    font-family: "Exo";
}

.statCard .statCard__icon {
    width: 24px;
    height: 24px;
    background-color: var(--container-color);
}

.statCard__value {
    font-size: 2rem;
    font-weight: 500;
}

.statCard__title {
    font-size: 1rem;
    color: var(--text-darker-color);
    font-weight: 400;
}

/* hero */
.hero {
    font-family: "Exo";
}

.hero__heading .hero__title {
    font-size: 2.4rem;
    font-weight: 600;
}

.hero__heading .hero__car-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.hero__heading .hero__car-type {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.hero__heading .hero__car-type i {
    color: var(--primary-color);
}

.hero__image {
    min-width: 300px;
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .hero__heading .hero__title {
        font-size: 3.6rem;
        font-weight: 600;
    }

    .hero__heading .hero__car-name {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .hero__heading .hero__car-type {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--text-color);
    }
}

/* about */
.about {
    font-family: "Exo";
    /* gap: 40px; */
    padding-inline: auto;
    max-width: 1024px;
}

.about__image {
    margin-bottom: 8rem;
}

.about__image-text {
    transform: translateY(-50%);
    right: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    max-width: 220px;
}

.about__image-text h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.about__image-text p {
    font-size: 1.3rem;
    color: var(--text-color);
}

.about__content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-title-color);
    line-height: 140%;
}

.about__content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 24px;
    line-height: 140%;
}

.about__content .btn {
    padding: 1.4rem 3.2rem;
    font-weight: 500;
    background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .about {
        flex-direction: row;
    }

    .about__content {
        padding-left: 30px;
    }

    .about__content h2 {
        font-size: 2.4rem;

    }

    .about__content p {
        font-size: 1.6rem;
    }

    .about__content .btn {
        font-size: 1.6rem;
    }

}

/* card */
.car {
    font-family: "Exo";
    background-color: var(--container-color);
    max-width: 300px;
    gap: 20px;
    padding: 2.6rem 2.6rem 1.8rem 2.6rem;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(55, 74, 109, 0.5);
    transform: translate(-50%, -50%);
    filter: blur(120px);
    z-index: 2;
}

.car__title {
    z-index: 4;
}

.car__family {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-title-color);
    line-height: 140%;
}

.car__name {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 140%;
}

.car__image {
    min-width: 160px;
    max-width: 200px;
    align-self: flex-end;
}

.car__purchase {
    padding: 1.4rem 3.2rem;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 20px 0 20px 0;
    padding: 1.2rem 1.6rem;
}

.car__price {
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.car__purchase i {
    width: 2.4rem;
    height: 2.4rem;
}