:root {
    --body-color: rgba(10, 10, 11, 1);
    --container-color: rgba(17, 18, 19, 1);
    --primary-color: rgba(65, 119, 220, 1);
    --primary-light: rgba(147, 177, 235, 1);
    --secondary-color: rgba(48, 106, 217, 1);
    --secondary-light: rgba(96, 140, 226, 1);
    --white-color: rgba(255, 255, 255, 1);
    --text-title-color: rgba(241, 242, 243, 1);
    --text-color: rgba(186, 190, 196, 1);
    --text-darker-color: rgba(136, 139, 145, 1);
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* brand sprite setup */
.brand1 {
    width: 50px;
    height: 50px;
    background: url('../images/brands-sprite.png') -80px -10px;
}

.brand2 {
    width: 50px;
    height: 60px;
    background: url('../images/brands-sprite.png') -10px -158px;
}

.brand3 {
    width: 50px;
    height: 50px;
    background: url('../images/brands-sprite.png') -150px -10px;
}

.brand4 {
    width: 50px;
    height: 50px;
    background: url('../images/brands-sprite.png') -80px -88px;

}

.brand5 {
    width: 50px;
    height: 50px;
    background: url('../images/brands-sprite.png') -10px -88px;
}

.brand6 {
    width: 50px;
    height: 44px;
    background: url('../images/brands-sprite.png') -150px -88px;
}

/* navbar */
.brand img {
    width: 20px;
    height: 20px;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar .navbar-toggler-icon {
    filter: invert() brightness(2);
    width: 20px;
    height: 20px;
}

.navbar .offcanvas {
    background-color: rgba(255, 255, 255, 0.842);
    backdrop-filter: blur(16px);
    max-width: 100%;
}

.navbar .offcanvas-header i {
    font-size: 2rem;
}

.navbar .nav-link {
    font-size: 2rem;
    color: var(--white-color);
    transition: all 0.3s ease;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
}

.navbar .nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav .nav-link.active {
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .brand-name {
        font-size: 1.6rem;
    }

    .navbar .nav-link {
        font-size: 1.4rem;
        font-weight: 500;
    }

}

/* statCards */
.statCards {
    max-width: 360px;
    margin: 0 auto;
}

.statCard .statCard__icon {
    width: 24px;
    height: 24px;
    background-color: var(--container-color);
}

.statCard__icon i {
    font-size: 1.2rem;
}

.statCard__value {
    font-size: 2rem;
    font-weight: 500;
}

.statCard__title {
    font-size: 1rem;
    color: var(--text-darker-color);
    font-weight: 400;
}

/* hero */
.hero__heading .hero__title {
    font-size: 2.4rem;
    font-weight: 600;
}

.hero__heading .hero__car-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.hero__heading .hero__car-type,
.hero__car-name .hero__car-type i {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.hero__heading .hero__car-type i {
    color: var(--primary-color);
}

.hero__image {
    min-width: 300px;
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .hero__heading .hero__title {
        font-size: 3.6rem;
    }

    .hero__heading .hero__car-name {
        font-size: 2.4rem;
    }
}

/* about */
.about {
    max-width: 1024px;
    margin-bottom: 80px;
    margin-top: 40px;
    padding-inline: 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

.about__image {
    margin-bottom: 8rem;
}

.info-text {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    max-width: 220px;
}

.info-text h2 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 140%;
}

.info-text p {
    font-size: 1.2rem;
    color: var(--text-color);
}

.about__image .info-text {
    transform: translateY(-50%);
    right: 8px;
}

.about__image .info-text h2 {
    font-size: 2rem;
}

.about__image .info-text p {
    font-size: 1.3rem;
}

.about__content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-title-color);
    line-height: 140%;
}

.about__content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 24px;
    line-height: 140%;
}

.btn--primary {
    color: var(--white-color);
    padding: 1.4rem 3.2rem;
    font-weight: 500;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
    .about {
        flex-direction: row;
        margin-bottom: 120px;
        margin-top: 40px;
    }

    .about__content {
        padding-left: 30px;
    }

    .about__content h2 {
        font-size: 2.4rem;

    }

    .about__content p {
        font-size: 1.6rem;
    }
}

/* car gallery */
.cars {
    max-width: 800px;
    padding-bottom: 50px !important;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 100px;
    width: 95%;
    padding-inline: 1rem;
}

.cars h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.car {
    background-color: var(--container-color);
    gap: 20px;
    max-width: 300px;
    min-width: 280px;
    overflow: hidden;
    padding: 2.6rem 2.6rem 1.8rem 2.6rem;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.car:hover {
    transform: translateY(-15px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.gradient-overlay {
    background-color: rgba(55, 74, 109, 0.5);
    filter: blur(120px);
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 2;
}

.car__title {
    z-index: 4;
}

.car__family {
    color: var(--text-title-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.car__name {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
}

.car__image {
    min-width: 160px;
    max-width: 200px;
    align-self: flex-end;
}

.car__info-item {
    font-size: 1.2rem;
}

.car__info-item i {
    font-size: 1.2rem;
    margin-right: 8px;
}

.car__purchase {
    background-color: var(--primary-color);
    border-radius: 20px 0 20px 0;
    font-weight: 500;
    padding: 1.4rem 3.2rem;
    font-size: 2.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn--primary:hover,
.car__purchase:hover {
    background-color: var(--primary-light);
}

.car__price {
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.car__purchase i {
    width: 2.4rem;
    height: 2.4rem;
}

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: #4a90e2 !important;
}

@media screen and (min-width: 768px) {
    .cars h2 {
        font-size: 2.4rem;
    }
}

/* more features */
.more-feature {
    background: url("../images/map.png") no-repeat center center;
    background-size: 120%;
    max-width: 650px;
    margin-inline: auto;
    margin-bottom: 80px;
    padding-inline: 1rem;
}

.more-feature h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-title-color);
    line-height: 140%;
}

.more-features__list {
    min-width: 360px;
}

.more-features__content img {
    width: 150px;
}

.more-features__list .about__image-text {
    position: relative;
}

.more-features__content .info-text {
    width: 120px;
    max-height: 100px;
    backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
    .more-feature>h2 {
        font-size: 2.4rem;
        margin-bottom: 100px;
    }
}

/* feature filter */
.feature-filter {
    max-width: 1024px;
    margin-inline: auto;
    gap: 50px;
    padding-inline: 1rem;
    width: 100%;
}

.feature-filter h2 {
    color: var(--text-title-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.feature-filter__results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    row-gap: 40px;
    width: 90%;
}

.feature-filter__results .car {
    align-self: center;
    justify-self: center;
}

.feature-filter__results .gradient-overlay {
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    transform: translate(-50%, -50%);
    background-color: rgba(55, 74, 109, 0.5);
    z-index: 2;
    filter: blur(120px);
}

.feature-filter__results .car__image {
    align-self: flex-start;
}

.feature-filter__options {
    padding-inline: 1rem;
    font-size: 1.6rem;
}

.feature-filter li {
    width: 50px;
    height: 50px;
    background-color: var(--container-color);
    transition: all 0.3s ease;
}

.feature-filter li button {
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
}

.feature-filter li:hover {
    background-color: var(--text-darker-color);
}

.feature-filter .active {
    background-color: var(--primary-color);
}

.feature-filter .active button {
    color: var(--white-color);
}

.feature-filter li .brand {
    transform: scale(0.5);
}

.hide {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .feature-filter h2 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 769px) {
    .feature-filter__results {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* offer section */
.offer-section {
    background: url("../images/subscribe-bg.png") no-repeat center center;
    overflow: hidden;
    background-size: cover;
    padding: 60px 40px;
    margin-inline: auto;
    margin-block: 60px;
    width: 100%;
}

.offer-section__content {
    max-width: 400px;
    padding-inline: 1rem;
}

.offer-section__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 140%;
}

.offer-section__description {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-block: 24px;
}

.offer-section .btn,
.about__content .btn {
    font-size: 1.6rem;
}

.offer-section__image {
    width: 400px;
    margin-left: 120px;
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .offer-section__image {
        margin: 0;
    }
}

/* brand gallery */
.brand-gallery {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}

.brand-gallery .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    margin-inline: auto;
    gap: 20px;
    margin-block: 60px;
}

.brand-gallery .grid li {
    width: 50px;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 768px) {
    .brand-gallery .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

/* footer */
.footer {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.footer .col h5 {
    color: var(--text-title-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 140%;
}

.footer .col ul li a,
.footer .col ul i,
.footer .col p {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
}

.footer .copyright {
    font-size: 1.5rem;
    color: var(--text-darker-color);
}

.footer .brand img {
    width: 28px;
    height: 28px;
}

.footer .brand .brand-name {
    font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
    .footer .col h5 {
        font-size: 2rem;
    }

    .footer .col ul li a,
    .footer .col ul i {
        font-size: 1.6rem;
    }

    .footer .col p {
        font-size: 1.3rem;
    }

    .footer .copyright {
        font-size: 1.2rem;
    }
}

/* start component */
.start-component {
    height: 160px;
    margin-block: 40px;
}

.start-component .start {
    font-size: 1.4rem;
}

.start-component .start::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(9, 146, 96, 1);
    border-radius: 50%;

}

.start-component .start::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(9, 146, 96, 1);
    border-radius: 50%;
    filter: drop-shadow(0 0 16px rgba(2, 219, 138, 1));
}

.header,
.footer {
    overflow: hidden;
}

.overlay-effect::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -120px;
    background-color: rgba(55, 74, 109, 0.5);
    filter: blur(180px);
    z-index: 20;
}

.overlay-effect::after {
    background-color: rgba(55, 74, 109, 0.5);
    bottom: -28px;
    content: "";
    filter: blur(180px);
    height: 300px;
    position: absolute;
    right: -100px;
    width: 300px;
    z-index: 20;
}