<section class="about">
    <div class="row row-cols-1 row-cols-md-2 align-items-center g-4 p-4">
        <div class="col about__image position-relative mb-md-0">
            <img class="img-fluid rounded-5" src="images/cars/car-inside.png" alt="About Desino">
            <div class="info-text text-center position-absolute p-4 rounded-5">
                <h2 class="text-white">2.500+</h2>
                <p>Supercharges placed along popular routes</p>
            </div>
        </div>

        <div class="col about__content d-flex flex-column gap-4 align-items-start justify-content-center py-md-5">
            <h2 class="fw-bold">Machines With <br>
                Future Technology</h2>
            <p class="lead">See the future with high-performance electric cars produced by renowned brands. They feature
                futuristic builds and designs with new and innovative platforms that last a long time.</p>
            <a href="#" class="btn btn--primary no-stretch text-white">Know More</a>
        </div>
    </div>
</section>