<section class="cars container swiper car-swiper mx-auto">
        <h2 class="text-center text-white mb-5 text-center">Choose Your Electric Car <br>
            Of The Porsche Brand</h2>
        <div class="swiper-wrapper">
            <article class="car swiper-slide d-flex flex-column align-items-start rounded-5 position-relative">
                <div class="gradient-overlay"></div>
                <div class="car__title">
                    <h3 class="car__family">Porche 2</h3>
                    <p class="car__name">Turbo S</p>
                </div>
                <img class="car__image" src="images/cars/turbo-s.png" alt="Turbo S">
                <div class="car__info d-flex flex-wrap">
                    <p class="car__info-item text-white"><i class="bi bi-speedometer"></i> 3.7 seconds</p>
                    <p class="car__info-item text-white ms-5"><i class="bi bi-graph-up-arrow"></i> 330 km/h</p>
                    <p class="car__info-item text-white"><i class="bi bi-ev-station"></i> Electric</p>
                </div>
                <p class="car__price text-white">$175,900</p>
                <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0" role="button"><i
                        class="bi bi-bag text-white"></i></p>
            </article>
            <article class="car swiper-slide d-flex flex-column align-items-start rounded-5 position-relative">
                <div class="gradient-overlay"></div>
                <div class="car__title">
                    <h3 class="car__family">Porche 2</h3>
                    <p class="car__name">Taycan</p>
                </div>
                <img class="car__image" src="images/cars/taycan.png" alt="Taycan">
                <div class="car__info d-flex flex-wrap">
                    <p class="car__info-item text-white"><i class="bi bi-speedometer"></i> 3.7 seconds</p>
                    <p class="car__info-item text-white ms-5"><i class="bi bi-graph-up-arrow"></i> 330 km/h</p>
                    <p class="car__info-item text-white"><i class="bi bi-ev-station"></i> Electric</p>
                </div>
                <p class="car__price text-white">$175,900</p>
                <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0" role="button"><i
                        class="bi bi-bag text-white"></i></p>
            </article>
            <article class="car swiper-slide d-flex flex-column align-items-start rounded-5 position-relative">
                <div class="gradient-overlay"></div>
                <div class="car__title">
                    <h3 class="car__family">Porche 2</h3>
                    <p class="car__name">Turbo S Cross</p>
                </div>
                <img class="car__image" src="images/cars/turbo-s-cross.png" alt="Turbo S Cross">
                <div class="car__info d-flex flex-wrap">
                    <p class="car__info-item text-white"><i class="bi bi-speedometer"></i> 3.7 seconds</p>
                    <p class="car__info-item text-white ms-5"><i class="bi bi-graph-up-arrow"></i> 330 km/h</p>
                    <p class="car__info-item text-white"><i class="bi bi-ev-station"></i> Electric</p>
                </div>
                <p class="car__price text-white">$175,900</p>
                <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0" role="button"><i
                        class="bi bi-bag text-white"></i></p>
            </article>
            <article class="car swiper-slide d-flex flex-column align-items-start rounded-5 position-relative">
                <div class="gradient-overlay"></div>
                <div class="car__title">
                    <h3 class="car__family">Porche 2</h3>
                    <p class="car__name">Boxster 718</p>
                </div>
                <img class="car__image" src="images/cars/boxster-718.png" alt="Boxster 718">
                <div class="car__info d-flex flex-wrap">
                    <p class="car__info-item text-white"><i class="bi bi-speedometer"></i> 3.7 seconds</p>
                    <p class="car__info-item text-white ms-5"><i class="bi bi-graph-up-arrow"></i> 330 km/h</p>
                    <p class="car__info-item text-white"><i class="bi bi-ev-station"></i> Electric</p>
                </div>
                <p class="car__price text-white">$175,900</p>
                <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0" role="button"><i
                        class="bi bi-bag text-white"></i></p>
            </article>
            <article class="car swiper-slide d-flex flex-column align-items-start rounded-5 position-relative">
                <div class="gradient-overlay"></div>
                <div class="car__title">
                    <h3 class="car__family">Porche 2</h3>
                    <p class="car__name">Cayman</p>
                </div>
                <img class="car__image" src="images/cars/cayman.png" alt="Cayman">
                <div class="car__info d-flex flex-wrap">
                    <p class="car__info-item text-white"><i class="bi bi-speedometer"></i> 3.7 seconds</p>
                    <p class="car__info-item text-white ms-5"><i class="bi bi-graph-up-arrow"></i> 330 km/h</p>
                    <p class="car__info-item text-white"><i class="bi bi-ev-station"></i> Electric</p>
                </div>
                <p class="car__price text-white">$175,900</p>
                <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0" role="button"><i
                        class="bi bi-bag text-white"></i></p>
            </article>
        </div>
        <div class="swiper-pagination"></div>
    </section>