<article class="car d-flex flex-column align-items-start rounded-5 position-relative">
    <div class="gradient-overlay"></div>
    <div class="car__title">
        <h2 class="car__family">Porche 2</h2>
        <p class="car__name">Turbo S</p>
    </div>
    <img class="car__image" src="images/cars/turbo-s.png" alt="Turbo S">
    <div class="car__info d-flex flex-wrap">
        <p class="car__info-item text-white"><i class="bi bi-speedometer"></i> 3.7 seconds</p>
        <p class="car__info-item text-white ms-5"><i class="bi bi-graph-up-arrow"></i> 330 km/h</p>
        <p class="car__info-item text-white"><i class="bi bi-ev-station"></i> Electric</p>
    </div>
    <p class="car__price text-white">$175,900</p>
    <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0"><i class="bi bi-bag text-white"></i>
    </p>
</article>