<section class="feature-filter d-flex flex-column align-items-center gap-5 w-100 py-5 justify-content-center mx-auto">
    <h2>Featured Luxury Car</h2>
    <ul class="feature-filter__options list-unstyled d-flex gap-3 w-100 align-items-center justify-content-center">
        <li class="feature-filter__option rounded-4 active d-flex align-items-center justify-content-center"
            data-feature-filter-brand="all"><button class="border-0">All</button></li>
        <li class="feature-filter__option rounded-4 d-flex align-items-center justify-content-center"
            data-feature-filter-brand="audi"><button class="brand border-0 brand6"></button></li>
        <li class="feature-filter__option rounded-4 d-flex align-items-center justify-content-center"
            data-feature-filter-brand="tesla"><button class="brand border-0 brand3"></button></li>
        <li class="feature-filter__option rounded-4 d-flex align-items-center justify-content-center"
            data-feature-filter-brand="porsche"><button class="brand border-0 brand2"></button></li>
    </ul>

    <div class="feature-filter__results d-flex flex-wrap justify-content-center">
        <article class="car d-flex flex-column align-items-start rounded-5 position-relative" data-brand="tesla">
            <div class="gradient-overlay"></div>
            <div class="car__title">
                <h2 class="car__family">Tesla</h2>
                <p class="car__name">Model X</p>
            </div>
            <img class="car__image" src="images/feature-luxury/tesla-model-x.png" alt="Model X">
            <p class="car__price text-white">$175,900</p>
            <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0"><i
                    class="bi bi-bag text-white"></i>
            </p>
        </article>
        <article class="car d-flex flex-column align-items-start rounded-5 position-relative" data-brand="tesla">
            <div class="gradient-overlay"></div>
            <div class="car__title">
                <h2 class="car__family">Tesla</h2>
                <p class="car__name">Model 3</p>
            </div>
            <img class="car__image" src="images/feature-luxury/tesla-model-3.png" alt="Model 3">
            <p class="car__price text-white">$175,900</p>
            <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0"><i
                    class="bi bi-bag text-white"></i>
            </p>
        </article>
        <article class="car d-flex flex-column align-items-start rounded-5 position-relative" data-brand="audi">
            <div class="gradient-overlay"></div>
            <div class="car__title">
                <h2 class="car__family">Audi</h2>
                <p class="car__name">e-tron</p>
            </div>
            <img class="car__image" src="images/feature-luxury/audi-e-tron.png" alt="e-tron">
            <p class="car__price text-white">$175,900</p>
            <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0"><i
                    class="bi bi-bag text-white"></i>
            </p>
        </article>
        <article class="car d-flex flex-column align-items-start rounded-5 position-relative" data-brand="porsche">
            <div class="gradient-overlay"></div>
            <div class="car__title">
                <h2 class="car__family">Porsche</h2>
                <p class="car__name">Boxster 987</p>
            </div>
            <img class="car__image" src="images/feature-luxury/porsche-boxster-987.png" alt="Boxster 987">
            <p class="car__price text-white">$175,900</p>
            <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0"><i
                    class="bi bi-bag text-white"></i>
            </p>
        </article>
        <article class="car d-flex flex-column align-items-start rounded-5 position-relative" data-brand="porsche">
            <div class="gradient-overlay"></div>
            <div class="car__title">
                <h2 class="car__family">Porsche</h2>
                <p class="car__name">Panamera</p>
            </div>
            <img class="car__image" src="images/feature-luxury/porsche-panamera.png" alt="Panamera">
            <p class="car__price text-white">$175,900</p>
            <p class="car__purchase position-absolute bottom-0 end-0 cursor-pointer m-0"><i
                    class="bi bi-bag text-white"></i>
            </p>
        </article>
    </div>
</section>