<footer class="footer container p-5">
    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <a class="brand d-flex align-items-center my-4" href="#">
                <img src="images/logo.png" alt="">
                <span class="text-white brand-name px-2">Elecar</span>
            </a>
            <p>We offer the best electric cars of the most recognized brands inthe world.</p>
        </div>
        <div class="col">
            <h5 class="my-4">Company</h5>
            <ul class="list-unstyled">
                <li class="my-3"><a href="#">About</a></li>
                <li class="my-3"><a href="#">Cars</a></li>
                <li class="my-3"><a href="#">History</a></li>
                <li class="my-3"><a href="#">Shop</a></li>
            </ul>
        </div>
        <div class="col">
            <h5 class="my-4">Information</h5>
            <ul class="list-unstyled">
                <li class="my-3"><a href="#">Request a quote</a></li>
                <li class="my-3"><a href="#">Find a dealer</a></li>
                <li class="my-3"><a href="#">Contact Us</a></li>
                <li class="my-3"><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="col">
            <h5 class="my-4">Follow Us</h5>
            <ul class="list-unstyled d-flex gap-5">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <p class="copyright text-center my-5">© Bedimcode. All rights reserved</p>
</footer>