<section class="hero container my-5 p-4 d-flex flex-column align-items-center justify-content-center">
    <div class="hero__heading mb-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="hero__title text-white mb-4">Choose The Best Car</h2>
        <p class="hero__car-name text-white">Porsche Mission E</p>
        <p class="hero__car-type"> <i class="bi bi-lightning-charge-fill"></i> Electric car</p>
    </div>
    <img class="hero__image w-75 mt-5" src="images/cars/mission-e.png" alt="Porsche Mission E">
</section>