<section class="more-feature mx-auto d-flex flex-column align-items-center gap-5">
    <h2>More Features</h2>
    <div class="more-features__content position-relative d-flex align-items-center justify-content-center">
        <img src="images/cars/vista.png" alt="">
        <div class="position-absolute more-features__list d-flex flex-column gap-4 top-0 p-4">
            <div class="info-text text-center p-4 rounded-5">
                <h2 class="text-white">800v</h2>
                <p>Turbo <br> Charging</p>
            </div>
            <div class="info-text ms-auto text-center position-relative p-4 rounded-5">
                <h2 class="text-white">350</h2>
                <p>Km <br> Range</p>
            </div>
            <div class="info-text text-center position-relative p-4 rounded-5">
                <h2 class="text-white">480</h2>
                <p>Km <br>
                    Travels</p>
            </div>
        </div>
    </div>
</section>