<nav class="navbar container p-4 navbar-expand-lg">
    <div class="container-fluid d-flex">
        <a class="navbar-brand d-flex align-item-center" href="#">
            <img src="images/logo.png" alt="">
            <span class="text-white brand-logo px-2">Elecar</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header container p-4 justify-content-end">
                <span class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bold bi bi-x-lg"></i>
                </span>
            </div>
            <div class="offcanvas-body justify-content-end">
                <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-center">
                    <li class="nav-item mx-3">
                        <a class="nav-link text-uppercase active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-uppercase" href="#">About</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-uppercase" href="#">Popular</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-uppercase" href="#">Featured</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>