<section class="offer-section d-flex flex-column flex-md-row align-items-center justify-content-center gap-5 w-100">
    <div
        class="offer-section__content d-flex justify-content-center g-5 align-items-center flex-column justify-content-md-start align-items-md-start text-center text-md-start">
        <h1 class="offer-section__title text-white">Do You Want To Receive <br>
            Special Offers?</h1>
        <p class="offer-section__description">Be the first to receive all the information about our products and new
            cars by email by subscribing to our mailing list.</p>
        <button class="btn btn--primary mt-3">Subscribe Now</button>

    </div>
    <img src="images/cars/mission-e-sideway.png" alt="" class="offer-section__image">
</section>