<section class="statCards row row-3 p-4"  aria-label="Vehicle Statistics">
        <article class="statCard col d-flex flex-column align-items-center justify-content-center">
            <div class="statCard__icon d-flex align-items-center justify-content-center mb-3 rounded-circle">
                <i class="bi bi-thermometer-low text-white" aria-hidden="true"></i>
            </div>
            <div class="statCard__body d-flex flex-column align-items-center">
                <p class="statCard__value text-white">
                    24°C
                </p>
                <p class="statCard__title text-uppercase">
                    temperature
                </p>
            </div>
        </article>

        <article class="statCard col d-flex flex-column align-items-center justify-content-center">
            <div class="statCard__icon d-flex flex-column align-items-center justify-content-center mb-3 rounded-circle">
                <i class="bi bi-speedometer text-white" aria-hidden="true"></i>
            </div>
            <div class="statCard__body d-flex flex-column align-items-center">
                <p class="statCard__value text-white">
                    873
                </p>
                <p class="statCard__title text-uppercase">
                    mileage
                </p>
            </div>
        </article>

        <article class="statCard col d-flex flex-column align-items-center justify-content-center">
            <div class="statCard__icon d-flex flex-column align-items-center justify-content-center mb-3 rounded-circle">
                <i class="bi bi-lightning-charge-fill text-white" aria-hidden="true"></i>
            </div>
            <div class="statCard__body d-flex flex-column align-items-center">
                <p class="statCard__value text-white">
                    94%
                </p>
                <p class="statCard__title text-uppercase">
                    battery
                </p>
            </div>
        </article>
    </section>